{{> header}}
    <div class="container">
        <div class="card">
            <div class="card-body text-center">
                <a href="/weather" class="btn btn-primary btn-lg" role="button">Переглянути погоду</a>
            </div>
        </div>
    </div>
{{> footer}}