{{> header}}
    <div id="container" class="row mt-5" >
        <div id="cities" class="col-6 col-md-4 col-lg-3" style="background-color: blanchedalmond"> </div>
        <div id="forecast" class="col-6 col-md-8 col-lg-9" style="color: red ; background-color: blanchedalmond"> </div>
    </div>
    <script>let cCity = "{{cCity}}";
    </script>
    <script src="/static/script.js"></script>
{{> footer}}